@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -200%; }
  95% {
    left: -0%; }
  100% {
    left: -0%; } }

body {
  margin: 0; }

div#slider {
  overflow: hidden; }

div#slider2 {
  overflow: hidden; }

.slider-fleche {
  width: 40px;
  z-index: 1;
  width: 40px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: calc(50% - 20px); }
  @media only screen and (max-width: 1024px) {
    .slider-fleche {
      margin-left: -30px;
      width: 30px; } }
  .slider-fleche:hover {
    cursor: pointer; }

.slider-fleche2 {
  width: 40px;
  z-index: 1;
  transform: rotate(180deg);
  position: absolute;
  top: calc(50% - 40px); }
  .slider-fleche2:hover {
    cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .slider-fleche2 {
      margin-right: 20px;
      width: 30px; } }

.slider-fleche3 {
  width: 40px;
  z-index: 1;
  position: absolute;
  transform: rotate(180deg);
  top: calc(50% - 20px); }
  .slider-fleche3:hover {
    cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .slider-fleche3 {
      width: 30px; } }
  @media only screen and (max-width: 900px) {
    .slider-fleche3 {
      display: none; } }

.slider-fleche4 {
  width: 40px;
  z-index: 2;
  position: absolute;
  top: calc(50% - 40px);
  right: 0; }
  .slider-fleche4:hover {
    cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .slider-fleche4 {
      margin-left: -30px;
      width: 30px; } }
  @media only screen and (max-width: 900px) {
    .slider-fleche4 {
      display: none; } }

div#slider figure img {
  width: 20%;
  float: left; }

div#slider2 figure img {
  width: 20%;
  float: left; }

.left-100 {
  left: -100% !important; }

.left-200 {
  left: -200% !important; }

.init-left {
  left: 0 !important; }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  text-align: left;
  font-size: 0;
  transition: left 0.5s ease-in; }

div#slider2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  transition: left 0.5s ease-in; }

.slider-figure-main {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  transition: left 2s ease-in;
  animation: 12s slidy infinite; }

.tempon-img {
  width: 20%;
  float: right;
  margin-right: 120px; }
  .tempon-img::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .tempon-img {
      margin-right: 0px;
      margin-bottom: 3rem; } }

.rotate {
  animation: rotation 15s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #f8a88a;
  color: #fff; }

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #00524b;
  margin-bottom: 3rem;
  font-family: 'GarmentDistrict-Regular'; }
  .heading-primary--main {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 400; }
    @media only screen and (min-width: 900px) and (max-width: 1300px) {
      .heading-primary--main {
        padding-top: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.8rem;
        letter-spacing: 0.8rem;
        padding-left: 0.8rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #f8a88a;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    .heading-secondary {
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(to right, #00524b, #28b485);
      color: transparent; } }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem;
      text-align: center; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      text-align: center; } }

.paragraph {
  font-size: 14px;
  font-family: 'Montserrat';
  color: #00524b;
  margin-right: 2rem;
  margin-bottom: 1rem; }

@font-face {
  font-family: 'GarmentDistrict-Regular';
  src: url("/css/fonts/GarmentDistrict-Regular.otf"); }

@font-face {
  font-family: 'Montserrat';
  src: url("/css/fonts/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/css/fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Cassannet';
  src: url("/css/fonts/Cassannet_Plus_Ultra.otf"); }

@font-face {
  font-family: 'Cassannet-Regular';
  src: url("/css/fonts/Cassannet_Plus_Regular.otf"); }

@font-face {
  font-family: 'HeroicCondensed-Bold';
  src: url("/css/fonts/HeroicCondensed-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/css/fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/css/fonts/Montserrat-Medium.ttf"); }

@font-face {
  font-family: 'HeroicCondensed-Bold';
  src: url("/css/fonts/HeroicCondensed-Bold.ttf"); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 3rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.row {
  display: flex;
  align-items: center;
  margin: 0 auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-']:not(:last-child) {
    margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-']:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row [class^='col-'] {
      width: 100%; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + (6rem * 2)); }

.footer {
  height: 22rem;
  background-color: #00524b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .footer--text1 {
    font-family: 'montserrat';
    font-size: 2.5rem;
    color: #f8a88a; }
  .footer--text2 {
    font-family: 'montserrat';
    font-size: 1.2rem;
    color: #f8a88a;
    margin-bottom: -2rem; }
  .footer--network-items {
    display: flex;
    width: 65px;
    justify-content: space-between;
    align-items: center; }

.header {
  display: flex;
  justify-content: space-between;
  background-color: #00524b;
  min-height: 50px;
  padding: 20px 35px;
  align-items: center; }

.logo-il-mercato {
  height: 35px;
  width: 156px; }
  @media only screen and (max-width: 550px) {
    .logo-il-mercato {
      height: 26px;
      width: 117px; } }

.menu-items {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 930px) {
    .menu-items {
      display: none; } }

.menu-item {
  color: #f8a88a;
  padding: 10px 15px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap; }
  @media only screen and (min-width: 930px) and (max-width: 1024px) {
    .menu-item {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px; } }

.menu-item-active {
  border: solid 1px #f8a88a;
  padding: 9px 14px; }

.menu-item:hover {
  color: #fff;
  border: solid 1px #f8a88a;
  padding: 9px 14px; }

.header-right-items {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 930px) {
    .header-right-items {
      width: 50%;
      justify-content: space-around; } }
  @media only screen and (max-width: 730px) {
    .header-right-items {
      width: 50%; } }
  @media only screen and (max-width: 550px) {
    .header-right-items {
      width: 60%; } }

.dropdown {
  display: inline-block;
  position: relative;
  font-size: 12px; }
  @media only screen and (max-width: 930px) {
    .dropdown {
      order: 2; } }

.btn-languages {
  background-color: #f8a88a;
  padding-left: 6px;
  padding-right: 6px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  height: 24px;
  width: 48px;
  color: #00524b;
  font-weight: bold; }
  @media only screen and (max-width: 450px) {
    .btn-languages {
      width: 35px;
      height: 22px; } }
  @media only screen and (max-width: 370px) {
    .btn-languages {
      display: none; } }

.btn-languages:focus {
  outline: 0; }

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  min-width: 160px;
  z-index: 1; }
  @media only screen and (max-width: 930px) {
    .language-dropdown-content {
      min-width: 85px; } }

.language-dropdown-content {
  text-decoration: none; }

.dropdown:hover .language-dropdown-content {
  display: block; }

.language-dropdown-content a {
  color: #00524b;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.language-dropdown-content a:hover {
  background-color: #f1f1f1; }

.social-network-items {
  margin-left: 35px;
  display: flex;
  width: 65px;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 930px) {
    .social-network-items {
      order: 1; } }
  @media only screen and (max-width: 450px) {
    .social-network-items {
      margin-left: 10px;
      width: 53px; } }

.social-network-item {
  font-size: 28px !important;
  color: #f8a88a;
  text-decoration: none; }
  @media only screen and (max-width: 450px) {
    .social-network-item {
      font-size: 25px !important; } }

.social-network-item:visited {
  text-decoration: none; }

.menu-mobile-button {
  display: none; }
  @media only screen and (max-width: 930px) {
    .menu-mobile-button {
      display: block;
      order: 3;
      background-color: transparent;
      border: none;
      outline: 0; } }

.menu-mobile-icon-bar {
  background-color: #f8a88a;
  display: block;
  width: 35px;
  height: 3px;
  margin-top: 6px;
  margin-bottom: 6px; }

#menu-mobile {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0; }

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease-in-out; }
  .collapse.show {
    max-height: 99em;
    transition: max-height 1s ease-in-out; }

.menu-items-mobile {
  background-color: #00524b;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff; }

.menu-item-mobile {
  display: block;
  color: #f8a88a;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 15px;
  margin-left: 20px;
  z-index: 10; }

.menu-item-mobile:hover {
  color: #fff; }

@media only screen and (max-width: 56.25em) {
  .section-one {
    display: flex;
    flex-direction: column-reverse; } }

@media only screen and (max-width: 56.25em) {
  .section-one--maintext {
    width: 90% !important;
    align-self: center; } }

.section-one--slider {
  position: relative;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .section-one--slider {
      width: 100% !important;
      align-self: center;
      margin-bottom: 0 !important; } }

.section-one-block-text {
  padding-right: 50px; }
  @media only screen and (max-width: 900px) {
    .section-one-block-text {
      padding-right: 0;
      margin-top: 20px; } }
  @media only screen and (max-width: 1200px) {
    .section-one-block-text {
      padding-bottom: 30px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .section-one-block-text {
      padding-bottom: 50px; } }

.benvenuti-monde {
  margin-bottom: 60px; }
  @media only screen and (min-width: 900px) and (max-width: 1300px) {
    .benvenuti-monde {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 750px) {
    .benvenuti-monde {
      margin-bottom: 25px; } }

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8a88a;
  padding: 1rem; }
  .section-two--text1 {
    color: #00524b;
    font-family: 'Cassannet';
    text-transform: uppercase;
    font-size: 5rem; }
  .section-two--text2 {
    color: #fff;
    font-family: 'HeroicCondensed-Bold';
    font-size: 5rem; }
  .section-two--text3 {
    color: #00524b;
    font-family: 'GarmentDistrict-Regular';
    font-size: 5rem; }

.bandeau-dolce {
  background-color: #f8a88a;
  width: 100%;
  height: 330px; }
  @media only screen and (max-width: 900px) {
    .bandeau-dolce {
      height: 160px; } }

@media only screen and (min-width: 1300px) {
  .section-three {
    padding-top: 30px;
    padding-bottom: 35px; } }

@media only screen and (max-width: 56.25em) {
  .section-three {
    flex-direction: column;
    display: flex;
    align-items: center; } }

@media only screen and (max-width: 56.25em) {
  .section-three--mobileview {
    width: 100% !important;
    padding: 3rem !important;
    margin-bottom: 0 !important; } }

@media only screen and (max-width: 900px) {
  .section-three--mobileview {
    padding-top: 12px !important; } }

@media only screen and (max-width: 56.25em) {
  .section-three--sliderMobileview {
    width: 80% !important;
    margin-bottom: 2rem; } }

.section-three--textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 16rem;
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .section-three--textContainer {
      margin-left: 0; } }

.section-three--text {
  font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    .section-three--text {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 900px) {
    .section-three--text {
      margin-right: 50px;
      margin-left: 50px; } }

.section-three--slider {
  position: relative;
  display: flex;
  width: 90%; }
  @media only screen and (max-width: 56.25em) {
    .section-three--slider {
      padding: 0; } }

.section-three--sliderContainer {
  width: 45%;
  display: flex;
  align-items: center; }

.section-three--sliderImg {
  width: 25%;
  z-index: 1;
  margin-left: -145px;
  align-self: center;
  margin-top: 190px; }
  @media only screen and (max-width: 56.25em) {
    .section-three--sliderImg {
      margin-left: -55px; } }

.section-three--img {
  width: 50%;
  align-self: flex-start;
  margin-top: 2rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 900px) {
    .section-three--img {
      margin-left: 50px;
      width: 23rem; } }

.section-three--textContainer > h1 {
  align-self: flex-start; }

@media only screen and (max-width: 900px) {
  .rungissimo {
    margin-left: 50px; } }

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00524b;
  padding: 3rem; }
  .section-four--text1 {
    color: #f8a88a;
    font-family: 'Cassannet-Regular';
    text-transform: uppercase;
    font-size: 4.5rem; }
  .section-four--text2 {
    color: #fff;
    font-family: 'HeroicCondensed-Bold';
    font-size: 4.5rem; }
  .section-four--text3 {
    color: #f8a88a;
    font-family: 'GarmentDistrict-Regular';
    font-size: 4.5rem; }

.bandeau-cuisine {
  width: 100%;
  background-color: #00524b;
  height: 330px; }
  @media only screen and (max-width: 900px) {
    .bandeau-cuisine {
      height: 160px; } }

.section-five {
  max-width: 1280px; }
  @media only screen and (max-width: 56.25em) {
    .section-five--child > img {
      width: 100%; } }
  @media only screen and (max-width: 900px) {
    .section-five--child {
      margin-top: 30px;
      margin-bottom: 30px; } }
  .section-five--firstline {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 56.25em) {
      .section-five--firstline {
        flex-direction: column-reverse;
        align-items: center; } }
  .section-five--imagescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px; }
    @media only screen and (max-width: 900px) {
      .section-five--imagescontainer {
        margin-top: 0; } }
  .section-five--button {
    font-family: "HeroicCondensed-Bold";
    background-color: #f8a88a;
    color: #00524b;
    padding: 1rem;
    padding-top: 15px;
    padding-left: 23px;
    margin-bottom: 1rem;
    font-size: 36px;
    width: 280px;
    height: 66px;
    display: flex;
    align-items: center;
    text-align: left;
    text-transform: uppercase; }
    .section-five--button:hover {
      cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .section-five--button {
        text-align: center; } }
  .section-five--child1 > img {
    width: 100%; }
    @media only screen and (max-width: 501px) {
      .section-five--child1 > img {
        width: 80%;
        margin-left: 10%; } }
  .section-five--secondeline {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    min-height: 700px; }
    @media only screen and (max-width: 501px) {
      .section-five--secondeline {
        min-height: 350px;
        margin-bottom: 5%; } }
  .section-five--menu {
    position: absolute;
    top: -64px;
    right: 50px; }
    @media only screen and (max-width: 900px) {
      .section-five--menu {
        top: -10px;
        right: 20px; } }
    @media only screen and (max-width: 900px) {
      .section-five--menu > img {
        width: 70%; } }
    @media only screen and (max-width: 501px) {
      .section-five--menu > img {
        margin-left: 19%;
        width: 67%; } }
  .section-five--pizza {
    position: absolute;
    bottom: 64px;
    height: 311px; }
    @media only screen and (max-width: 56.25em) {
      .section-five--pizza {
        bottom: 150px;
        height: 285px;
        right: 40px; } }
    @media only screen and (min-width: 901px) and (max-width: 980px) {
      .section-five--pizza {
        left: 10%; } }
    @media only screen and (max-width: 501px) {
      .section-five--pizza {
        height: 50%;
        width: 60%; } }
    .section-five--pizza > img {
      width: 100%;
      height: 100%; }
      @media only screen and (max-width: 900px) {
        .section-five--pizza > img {
          width: 80%;
          height: 120%; } }
      @media only screen and (max-width: 501px) {
        .section-five--pizza > img {
          margin-top: 50%;
          margin-left: 25%; } }
  .section-five--tampon {
    position: absolute;
    bottom: 147px;
    right: 12%;
    height: 205px;
    width: 205px; }
    @media only screen and (max-width: 900px) {
      .section-five--tampon > img {
        width: 150%; } }
    @media only screen and (max-width: 501px) {
      .section-five--tampon > img {
        width: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .section-five--tampon {
        bottom: 110px;
        left: 50px;
        height: 205px;
        width: 205px; } }
    @media only screen and (max-width: 501px) {
      .section-five--tampon {
        bottom: -115px;
        left: 20px; } }

@media only screen and (max-width: 1100px) {
  .section-five--hand-index {
    display: none; } }

.section-five--cow {
  position: absolute;
  left: 0;
  top: 0; }
  @media only screen and (max-width: 980px) {
    .section-five--cow {
      display: none; } }

.section-six {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8a88a; }
  .section-six--cards-container {
    display: flex;
    justify-content: center;
    height: 25rem;
    flex-wrap: wrap; }
    @media only screen and (max-width: 56.25em) {
      .section-six--cards-container {
        flex-direction: column;
        height: 50rem; } }
  .section-six--card {
    width: 30rem;
    height: 7rem;
    background: #f8a88a;
    margin: 2rem -9rem;
    border: none;
    box-shadow: 0 0 0 2px #00524b, 0 0 0 8px #f8a88a, 0 0 0 11px #00524b, 0 0 0 15px #f8a88a, 0 0 0 16px #00524b, 0 0 0 17px #f8a88a, 0 0 0 18px #00524b; }
    @media only screen and (max-width: 56.25em) {
      .section-six--card {
        margin: 6rem 0rem;
        font-size: 2rem;
        height: 7%; } }
    .section-six--card--2 {
      width: 30rem;
      height: 7rem;
      background: #f8a88a;
      border: none;
      position: relative;
      margin: 20px;
      box-shadow: 0 0 0 2px #00524b, 0 0 0 8px #f8a88a, 0 0 0 11px #00524b, 0 0 0 15px #f8a88a, 0 0 0 16px #00524b, 0 0 0 17px #f8a88a, 0 0 0 18px #00524b;
      align-self: flex-end; }
      .section-six--card--2:hover {
        box-shadow: 0 0 0 1px #00524b, 0 0 0 6px #f8a88a, 0 0 0 10px #00524b, 0 0 0 12px #f8a88a, 0 0 0 18px #00524b, 0 0 0 17px #f8a88a, 0 0 0 18px #00524b;
        cursor: pointer; }
      @media only screen and (max-width: 56.25em) {
        .section-six--card--2 {
          height: 7%;
          margin: 0 !important;
          font-size: 2rem;
          align-self: flex-start; } }
    .section-six--card:hover {
      box-shadow: 0 0 0 1px #00524b, 0 0 0 6px #f8a88a, 0 0 0 10px #00524b, 0 0 0 12px #f8a88a, 0 0 0 18px #00524b, 0 0 0 17px #f8a88a, 0 0 0 18px #00524b;
      cursor: pointer; }
  .section-six--text {
    color: #00524b;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat-Bold";
    font-size: 2.5rem; }
    @media only screen and (max-width: 900px) {
      .section-six--text {
        font-size: 2rem; } }

.infos-section {
  margin-bottom: -5px;
  max-height: 505px; }
  @media only screen and (max-width: 56.25em) {
    .infos-section {
      max-height: 100%;
      display: flex;
      flex-direction: column-reverse; } }
  .infos-section--textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .infos-section--textcontainer {
        width: 100% !important; } }
  .infos-section--text--1 {
    font-family: "GarmentDistrict-Regular";
    font-size: 6rem;
    color: #00524b;
    width: 40rem;
    text-align: left;
    border-bottom: 2px solid;
    border-radius: 3px; }
    @media only screen and (max-width: 900px) {
      .infos-section--text--1 {
        display: flex;
        justify-content: center; } }
  .infos-section--text--2 {
    font-family: "Montserrat-Medium";
    font-weight: bold;
    font-size: 1.8rem;
    color: #00524b;
    width: 40rem;
    text-align: left;
    border-bottom: 2px solid;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    text-decoration: none; }
    @media only screen and (max-width: 900px) {
      .infos-section--text--2 {
        justify-content: center; } }
  .infos-section--text--3 {
    width: 40rem;
    font-family: "Cassannet-Regular";
    font-size: 3rem;
    text-transform: uppercase;
    color: #f8a88a;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    letter-spacing: 5px; }
  .infos-section--text--4 {
    font-family: "HeroicCondensed-Bold";
    font-weight: bold;
    font-size: 2.8rem;
    color: #00524b;
    width: 40rem;
    text-align: left;
    border-bottom: 2px solid;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    padding: 1rem; }
    @media only screen and (max-width: 900px) {
      .infos-section--text--4 {
        display: flex;
        justify-content: center;
        font-size: 3rem; } }

#map {
  margin-bottom: 0 !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media only screen and (max-width: 56.25em) {
    #map {
      width: 100% !important; } }

@media only screen and (max-width: 56.25em) {
  .mapouter {
    margin: 0 auto; } }

.address {
  border-bottom: none;
  margin-bottom: 30px; }

.first-image {
  height: 91vh;
  width: 100%;
  object-fit: cover;
  object-position: 47.5% 50%; }
  @media only screen and (max-width: 768px) {
    .first-image {
      height: 93vh; } }

.fixed-button-reservation-container {
  position: fixed;
  bottom: 7%;
  right: 0;
  background-color: #f8a88a;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 2; }

.resa-button {
  background-color: #fff;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
  margin-right: 27px;
  color: #00524b;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none; }
  @media only screen and (max-width: 650px) {
    .resa-button {
      text-align: center;
      margin-left: 10px;
      margin-right: 17px;
      font-size: 12px;
      padding-left: 6px;
      padding-right: 6px; } }
  .resa-button:hover {
    background-color: #f9f9f9; }

.resa-button-cross {
  height: 20px;
  width: 20px;
  margin-right: 20px; }
  @media only screen and (max-width: 550px) {
    .resa-button-cross {
      height: 15px;
      width: 15px;
      margin-right: 15px; } }
  .resa-button-cross:hover {
    cursor: pointer; }

.slide-right-resa-button {
  animation-name: slide-right-resa-button-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes slide-right-resa-button-animation {
  from {
    right: 0; }
  to {
    right: -100%; } }

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/background-reservations.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover; }

@media only screen and (max-width: 56.25em) {
  .private-frame {
    width: 80% !important; } }

html {
  scroll-behavior: smooth; }
