@import "../abstracts/variables";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $color-primary-light;
  min-height: 50px;
  padding: 20px 35px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo-il-mercato {
  height: 35px;
  width: 156px;

  @media only screen and (max-width: 550px) {
    height: 26px;
    width: 117px;
  }

}

.menu-items {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 930px) {
    display: none;
  }
}

.menu-item {
  color: $color-primary;
  padding: 10px 15px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  @media only screen and (min-width: 930px) and (max-width: 1024px) {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu-item-active {
  border: solid 1px $color-primary;
  padding: 9px 14px;
}

.menu-item:hover {
  color: $color-white;
  border: solid 1px $color-primary;
  padding: 9px 14px;
}

.header-right-items {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 930px) {
    width: 50%;
    justify-content: space-around;
  }

  @media only screen and (max-width: 730px) {
    width: 50%;
  }

  @media only screen and (max-width: 550px) {
    width: 60%;
  }
}

.dropdown {
  display: inline-block;
  position: relative;
  font-size: 12px;

  @media only screen and (max-width: 930px) {
    order: 2;
  }
}

.btn-languages {
  background-color: $color-primary;
  padding-left: 6px;
  padding-right: 6px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  height: 24px;
  width: 48px;
  color: $color-primary-light;
  font-weight: bold;
  @media only screen and (max-width: 450px) {
    width: 35px;
    height: 22px;
  }
  @media only screen and (max-width: 370px) {
    display: none;
  }
}

.btn-languages:focus {
  outline: 0;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  min-width: 160px;
  z-index: 1;

  @media only screen and (max-width: 930px) {
    min-width: 85px;
  }
}

.language-dropdown-content {
  text-decoration: none;
}

.dropdown:hover .language-dropdown-content {
  display: block;
}

.language-dropdown-content a {
  color: #00524b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.social-network-items {
  margin-left: 35px;
  display: flex;
  width: 65px;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 930px) {
    order: 1;
  }
  @media only screen and (max-width: 450px) {
    margin-left: 10px;
    width: 53px;
  }
}

.social-network-item {
  font-size: 28px !important;
  color: $color-primary;
  text-decoration: none;
  @media only screen and (max-width: 450px) {
    font-size: 25px !important;
  }
}

.social-network-item:visited {
  text-decoration: none;
}

.menu-mobile-button {
  display: none;

  @media only screen and (max-width: 930px) {
    display: block;
    order: 3;
    background-color: transparent;
    border: none;
    outline: 0;
  }
}

.menu-mobile-icon-bar {
  background-color: $color-primary;
  display: block;
  width: 35px;
  height: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#menu-mobile {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;

  &.show {
    max-height: 99em;
    transition: max-height 1s ease-in-out;
  }
}

.menu-items-mobile {
  background-color: $color-primary-light;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid $color-white;
}

.menu-item-mobile {
  display: block;
  color: $color-primary;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 15px;
  margin-left: 20px;
  z-index: 10;
}

.menu-item-mobile:hover {
  color: $color-white;
}
