@import '../abstracts/variables';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $color-primary-light;
  min-height: 50px;
  padding: 20px 35px;
  align-items: center;
}

.menu-items {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 930px) {
    display: none;
  }
}

.menu-item {
  color: $color-primary;
  padding: 10px 15px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  @media only screen and (min-width: 930px) and (max-width: 1024px) {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu-item:hover {
  color: $color-white;
}


.header-right-items {
  display: flex;
  align-items: center;
}

.dropdown {
  display: inline-block;
  position: relative;
  font-size: 12px;
}

.btn-languages {
  background-color: $color-primary;
  padding-left: 6px;
  padding-right: 6px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  height: 24px;
  width: 48px;
  color: $color-primary-light;
  font-weight: bold;
}

.btn-languages:focus {
  outline:0;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  min-width: 160px;
  z-index: 1;
}

.language-dropdown-content {
  text-decoration: none;
}

.dropdown:hover .language-dropdown-content {
  display: block;
}

.language-dropdown-content a {
  color: #00524b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.social-network-items {
  margin-left: 35px;
  display: flex;
  width: 65px;
  justify-content: space-between;
  align-items: center;
}

.social-network-item {
  font-size: 28px !important;
  color: $color-primary;
}
