.section-five {
  max-width: 1280px;
  &--child > img {
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &--child {
    @media only screen and (max-width: 900px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &--firstline {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include respond(tab-port) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &--imagescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

    @media only screen and (max-width: 900px) {
      margin-top: 0;
    }
  }
  &--button {
    font-family: "HeroicCondensed-Bold";
    background-color: $color-primary;
    color: $color-primary-light;
    padding: 1rem;
    padding-top: 15px;
    padding-left: 23px;
    margin-bottom: 1rem;
    font-size: 36px;
    width: 280px;
    height: 66px;
    display: flex;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
    @include respond(tab-port) {
      text-align: center;
    }
  }
  &--child1 > img {
    width: 100%;
  }
  &--secondeline {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    min-height: 700px;
    @media only screen and (max-width: 501px) {
      min-height: 300px;
    }
  }
  &--menu {
    position: absolute;
    top: -64px;
    right: 50px;

  }
  &--pizza {
    position: absolute;
    bottom: 64px;
    height: 311px;
    @include respond(tab-port) {
      bottom: 59px;
      height: 285px;
      right: 40px;
    }
    @media only screen and (max-width: 501px) {
      display: none;
    }
  }
  &--tampon {
    position: absolute;
    bottom: 147px;
    right: 141px;
    height: 205px;
    width: 205px;
    @include respond(tab-port) {
      bottom: 10px;
      left: 50px;
      height: 205px;
      width: 205px;
    }
    @media only screen and (max-width: 501px) {
      display: none;
    }
  }
}
.section-five--hand-index {
  @media only screen and (max-width: 1100px) {
    display: none;
  }
}

.section-five--cow {
  position: absolute;
  left: 0;
  top: 0;
  @media only screen and (max-width: 980px) {
    display: none;
  }
}
