.section-three {
  @media only screen and (min-width: 1300px) {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  @include respond(tab-port) {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  &--mobileview {
    @include respond(tab-port) {
      width: 100% !important;
      padding: 3rem !important;
      margin-bottom: 0 !important;
    }

    @media only screen and (max-width: 900px) {
      padding-top: 12px !important;
    }
  }
  &--sliderMobileview {
    @include respond(tab-port) {
      width: 80% !important;
      margin-bottom: 2rem;
    }
  }
  &--textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 16rem;
    margin-top: 3rem;

    @media only screen and (max-width: 900px) {
      margin-top: 16px;
    }
    
    @include respond(tab-port) {
      margin-left: 0;
    }
  }
  &--text {
    font-weight: 400;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 900px) {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
  &--slider {
    padding: 6rem;

    display: flex;
    width: 100%;
    @include respond(tab-port) {
      padding: 0;
    }
  }
  &--sliderContainer {
    display: flex;
    align-items: center;
  }
  &--sliderImg {
    width: 25%;
    z-index: 1;
    margin-left: -28%;
    align-self: center;
    margin-top: 20%;
    @include respond(tab-port) {
      display: none;
    }
  }
  &--img {
    width: 50%;
    align-self: flex-start;
    margin-top: 2rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 900px) {
      margin-left: 50px;
      width: 23rem;
    }
  }
  &--textContainer > h1 {
    align-self: flex-start;
  }
}

.rungissimo {
  @media only screen and (max-width: 900px) {
    margin-left: 50px;
  }
}
