.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-light;
  padding: 3rem;
  &--text1 {
    color: $color-primary;
    font-family: 'Cassannet-Regular';
    text-transform: uppercase;
    font-size: 4.5rem;
  }
  &--text2 {
    color: $color-white;
    font-family: 'HeroicCondensed-Bold';
    font-size: 4.5rem;
  }

  &--text3 {
    color: $color-primary;
    font-family: 'GarmentDistrict-Regular';
    font-size: 4.5rem;
  }
}

.bandeau-cuisine {
  width: 100%;
  background-color: $color-primary-light;
  height: 330px;

  @media only screen and (max-width: 900px) {
    height: 160px;
  }
}
