.section-six {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;

  &--cards-container {
    display: flex;
    justify-content: center;
    //width: 83rem;
    height: 25rem;
    flex-wrap: wrap;
    @include respond(tab-port) {
      flex-direction: column;
      height: 50rem;
    }
  }
  &--card {
    width: 30rem;
    height: 7rem;
    background: #f8a88a;
    margin: 2rem -9rem;

    @include respond(tab-port) {
      margin: 6rem 0rem;
      font-size: 2rem;
      height: 7%;
    }
    box-shadow: 0 0 0 2px #00524b, 0 0 0 8px #f8a88a, 0 0 0 11px #00524b,
      0 0 0 15px #f8a88a, 0 0 0 16px #00524b, 0 0 0 17px #f8a88a,
      0 0 0 18px #00524b;
    &--2 {
      width: 30rem;
      height: 7rem;
      background: $color-primary;
      position: relative;
      margin: 20px;

      box-shadow: 0 0 0 2px #00524b, 0 0 0 8px #f8a88a, 0 0 0 11px #00524b,
        0 0 0 15px #f8a88a, 0 0 0 16px #00524b, 0 0 0 17px #f8a88a,
        0 0 0 18px #00524b;
      align-self: flex-end;
      &:hover {
        box-shadow: 0 0 0 1px #00524b, 0 0 0 6px #f8a88a, 0 0 0 10px #00524b,
          0 0 0 12px #f8a88a, 0 0 0 18px #00524b, 0 0 0 17px #f8a88a,
          0 0 0 18px #00524b;
        cursor: pointer;
      }
      @include respond(tab-port) {
        height: 7%;
        margin: 0 !important;
        font-size: 2rem;
        align-self: flex-start;
      }
    }
    &:hover {
      box-shadow: 0 0 0 1px #00524b, 0 0 0 6px #f8a88a, 0 0 0 10px #00524b,
        0 0 0 12px #f8a88a, 0 0 0 18px #00524b, 0 0 0 17px #f8a88a,
        0 0 0 18px #00524b;
      cursor: pointer;
    }
  }
  &--text {
    color: $color-primary-light;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 2.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
