@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  95% {
    left: -0%;
  }
  100% {
    left: -0%;
  }
}

body {
  margin: 0;
}
div#slider {
  overflow: hidden;
}
div#slider2 {
  overflow: hidden;
}
.slider-fleche {
  width: 40px;
  z-index: 1;
  width: 40px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: calc(50% - 20px);

  @media only screen and (max-width: 1024px) {
    margin-left: -30px;
    width: 30px;
  }
}
.slider-fleche2 {
  width: 40px;

  z-index: 1;
  transform: rotate(180deg);
  position: absolute;
  top: calc(50% - 40px);

  @media only screen and (max-width: 1024px) {
    margin-right: 20px;
    width: 30px;
  }
}
.slider-fleche3 {
  width: 40px;
  z-index: 1;
  position: absolute;
  transform: rotate(180deg);
  top: calc(50% - 20px);
  @media only screen and (max-width: 1024px) {
    width: 30px;
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }
}
.slider-fleche4 {
  width: 40px;
  z-index: 2;
  position: absolute;
  top: calc(50% - 40px);
  right: 0;
  @media only screen and (max-width: 1024px) {
    margin-left: -30px;
    width: 30px;
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider2 figure img {
  width: 20%;
  float: left;
}
.left-100 {
  left: -100% !important;
}
.left-200 {
  left: -200% !important;
}
.init-left {
  left: 0 !important;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  text-align: left;
  font-size: 0;
  transition: left 0.5s ease-in;

  //animation: 12s slidy infinite;
}
div#slider2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  transition: left 0.5s ease-in;

  //animation: 12s slidy infinite;
}
.slider-figure-main {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  transition: left 2s ease-in;
  animation: 12s slidy infinite;
}
.tempon-img {
  width: 20%;
  float: right;
  margin-right: 120px;
  @include clearfix;
  @include respond(tab-port) {
    margin-right: 0px;
    margin-bottom: 3rem;
  }
}

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
