@import '../abstracts/variables';

.fixed-button-reservation-container {
  position: fixed;
  bottom: 7%;
  right: 0;
  background-color: $color-primary;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 2;
}

.resa-button {
  background-color: $color-white;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
  margin-right: 27px;
  color: $color-primary-light;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px
}

.resa-button-cross {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}


.slide-right-resa-button {
  animation-name: slide-right-resa-button-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-right-resa-button-animation {
  from { right: 0;}
  to { right: -100%;}
}

