.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/background-reservations.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 100%;
}
.private-frame {
  @include respond(tab-port) {
    width: 80% !important;
  }
}
